{% extends 'base.html' %}
{% block page_content %}

    <div class="edit-delete">
        <h2>Edit Profile</h2>

        <form method="post" action="{% url 'edit user' pk=object.pk %}">
            {% for field in form %}
                <p class="error"> {{ field.errors }} </p>
                 <label>{{ field.label }}</label>
                {{ field }}
                <br>
            {% endfor %}

            <button class="edit-btn" type="submit">Edit</button>
            {% csrf_token %}
        </form>


    </div>


{% endblock %}