{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    <div class="profile">

        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    <!-- Profile Image -->
                    <img src="{% static 'images/crown.png' %}" alt="img8">
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>

                    {% if is_owner %}
                        <a href="{% url 'edit user' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>

                        <!-- Link to Delete Profile Page -->
                        <a href="{% url 'delete user' pk=object.pk %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                        <!-- End IF the viewer is the owner of the profile -->
                    {% endif %}
                </div>

                <h3 class="names">{{ object.get_full_name }}</h3>

                <p class="email">{{ object.email }}</p>
                <p class="email">{{ object.phone_number }}</p>
            </div>
        </div>
        <div class="listings">
            {% if is_owner %}
                <p>My listings:</p>
                </div>
            {% else %}
                <p>Listings:</p>
                </div>
            {% endif %}
    {% if not listings %}
        <h1 class="no-listings">No listings yet!</h1>
    {% else %}
    {% for listing in listings %}
        <div class="listing-view">
            <div class="listing-image">
                {% if listing.photo_set.first.image %}
                    <a href="{% url 'listing details' slug=listing.slug %}#listing"><img
                            src="/media/{{ listing.photo_set.first.image }}" alt="listing photo"></a>
                {% else %}
                    <a href="{% url 'listing details' slug=listing.slug %}"><img
                            src="{% static 'images/no-image.jpg' %}" alt="listing photo"></a>
                {% endif %}
            </div>
            <div class="listing-info">
                <a href="{% url 'listing details' slug=listing.slug %}#listing">{{ listing.name }}</a>
                <h3>{{ listing.price|floatformat:'-2g' }} EUR</h3>
                <h3>Type: {{ listing.type }}</h3>
                <h3>Size: {{ listing.size }} km2</h3>
                <h3><a href="{% url 'city listings' slug=listing.location.slug %}">City: {{ listing.location }}</a></h3>
                <h4>{{ listing.description }}</h4>
            </div>

        </div>
    {% endfor %}
    {% endif %}

    {% if listings.has_other_pages %}
    <nav class="paginator">
        <ul class="pagination justify-content-center">
            {% if listings.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ listings.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
            {% endif %}

            {% for p in listings.paginator.page_range %}
                {% if listings.number == p %}
                    <li class="page-item"><a class="page-link" style="color: darkgoldenrod;" href="#">{{ p }}</a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}

            {% if listings.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ listings.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}