{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hestia</title>
    <!-- CSS only -->
<link href="{% static '/style/style.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <a href="{% url 'index' %}">
                <img width="250px" src="{% static '/images/hestia_no_crown_no_bg_white.png' %}" alt="hestia_logo">
            </a>
        </div>
        <div>
            <ul class="nav">
                {# if no profile #}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Create Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Log In</a>
                </li>
                {# if profile #}
                <li class="nav-item">
                    <a class="nav-link" href="#">Search Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

</header>

<main>
    {% block page_content %}
    {% endblock %}
</main>

<div class="footer">
		<span class="footer-section">
			© 2022 HESTIA
		</span>
</div>

</body>
</html>