{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="news" id="news">
        <div class="back">
            <a href="{% url 'list news' %}">< Back to news</a>
        </div>
        <div class="news-title">
            <h1>{{ object.title }}</h1>
        </div>
        <div class="news-image">
            <img src="/media/{{ object.image }}" alt="news photo">
        </div>
        <div class="news-text">
            <p>{{ object.text|linebreaksbr }}</p>
        </div>
    </div>
    <div class="last-three">
        <h1>Suggested news</h1>
        {% for n in last_news %}
            <div class="news-last">
{#                <img src="/media/{{ n.image }}" alt="news photo">#}
{#                {{ n.title }}#}
                <div class="news-image-last">

                    <a href="{% url 'details news' slug=n.slug %}"><img
                            src="/media/{{ n.image }}" alt="news photo"></a>

                </div>
                <div class="news-title-last">
                    <a href="{% url 'details news' slug=n.slug %}">{{ n.title }}</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}