{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div id="container-listing">
        <div class="listing-form">
            <div class="listing-form-box">
                <form method="post" action="{% url 'edit listing' slug=listing.slug %}" enctype="multipart/form-data">
                    {% csrf_token %}
                        {% for hidden in postForm.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                    {{ listing_form.as_p }}



                    <input type="submit" name="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}