{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="listing" id="listing">
        <div class="slideshow-container-hestia">
            {% if object.photo_set.all %}
                {% for photo in object.photo_set.all %}
                    <div class="mySlidesHestia">
                        <img src="/media/{{ photo.image }}" alt="listing photo">
                    </div>
                {% endfor %}
            {% else %}
                <div class="mySlidesHestia">
                    <img src="{% static 'images/no-image.jpg' %}" alt="listing photo">
                </div>
            {% endif %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="profile-info-container">
            <a href="{% url 'details user' pk=user_profile.pk %}">
                {% if user_profile.get_full_name != ' ' %}
                    {{ user_profile.get_full_name }}
                {% else %}
                    {{ user_profile.username }}
                {% endif %}
            </a>
            <h3>{{ user_profile.email }}</h3>
            <h3>{{ user_profile.phone_number }}</h3>
            <a href="tel:{{ user_profile.phone_number }}">CLICK TO CALL</a>
        </div>
        <div class="info-container">
            <h1>{{ object.name }}</h1>
            {% if is_owner %}
                <a href="{% url 'edit listing' slug=listing.slug %}">
                    Edit Listing
                </a>
                <a href="{% url 'edit listing photos' slug=listing.slug %}">
                    Edit Listing Photos
                </a>
                <!-- Link to Delete Profile Page -->
                <a href="{% url 'delete listing' slug=listing.slug %}">
                    Delete Listing
                </a>
                <!-- End IF the viewer is the owner of the profile -->
            {% endif %}
            <h2>{{ object.location }}</h2>
            <h2>{{ object.price|floatformat:"g" }} EUR</h2>
            <p>{{ object.description }}</p>
        </div>

    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlidesHestia");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>

{% endblock %}